.dado {
    width: 50px;
    height: 5px;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-align: webkit-center;
    margin: 5%;
    padding: 6%;
    font-size: 50px;
}